<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
		<style type="text/css">
			body{background-image: url('1.jpg')}
			h1{font-size:50px; color:#01009A; text-align:center; }
			
			#div1{border: 2px solid; }
		</style>
	</head>
<body>
	<div style="margin-top:50px;">
		<h1>Welcome To Customer Record Processing</h1>
	
	</div>

	<div style="margin-top:100px;" class="form-group col-md-6 col-md-offset-3 row-md-6 row-md-offsets-6"  id="div1">
		<form>
			Username:<input class="form-control" type="text" name="username"><br><br>
			Password:<input class="form-control" type="password" name="password"><br><br>
			<input type="submit" name="submit" value="LOGIN">
		</form>
	</div>
	

</body>
</html>
